name: Java CI/CD with Gradle

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # 1. 빌드 - 테스트 제외
      - name: Build with Gradle
        run: ./gradlew build -x test

      # 2. EC2로 JAR 파일 전송
      - name: SCP Transfer
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          source: "build/libs/*-SNAPSHOT.jar"
          target: "/home/ubuntu/back/new_deploy"
          strip_components: 2

      # 3. SSH로 접속해서 기존 프로세스 죽이고 새로 실행
      - name: Execute Remote SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            sudo bash /home/ubuntu/back/deploy.sh
